# In this project we will be analyzing data from Crunchbase related to Start-Up Fundraising Deals

Given the size of the dataset and the limitations we want to stick to in terms of memory usage of our system, we will be using methods for reading the dataset in chunks rather than as a whole.

In [1]:
import pandas as pd
pd.options.display.max_columns = 99

chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
mv_list = []
for chunk in chunk_iter:
    mv_list.append(chunk.isnull().sum())

combined_mv_counts = pd.concat(mv_list)
unique_combined_mv_counts = combined_mv_counts.groupby(combined_mv_counts.index).sum()
unique_combined_mv_counts.sort_values()

company_country_code          1
company_name                  1
company_permalink             1
company_region                1
investor_region               2
investor_permalink            2
investor_name                 2
funded_quarter                3
funded_at                     3
funded_month                  3
funded_year                   3
funding_round_type            3
company_state_code          492
company_city                533
company_category_code       643
raised_amount_usd          3599
investor_country_code     12001
investor_city             12480
investor_state_code       16809
investor_category_code    50427
dtype: int64

In [2]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')
counter = 0
memory_fp = pd.Series()
for chunk in chunk_iter:
    if counter == 0:
        memory_fp = chunk.memory_usage(deep=True)
    else:
        memory_fp += chunk.memory_usage(deep=True)
    counter += 1

memory_fp

Index                         920
company_permalink         4057788
company_name              3591326
company_category_code     3421104
company_country_code      3172176
company_state_code        3106051
company_region            3411585
company_city              3505926
investor_permalink        4980548
investor_name             3915666
investor_category_code     622424
investor_country_code     2647292
investor_state_code       2476607
investor_region           3396281
investor_city             2885083
funding_round_type        3410707
funded_at                 3542185
funded_month              3383584
funded_quarter            3383584
funded_year                422960
raised_amount_usd          422960
dtype: int64

In [3]:
memory_fp.drop('Index', inplace=True)
memory_fp

company_permalink         4057788
company_name              3591326
company_category_code     3421104
company_country_code      3172176
company_state_code        3106051
company_region            3411585
company_city              3505926
investor_permalink        4980548
investor_name             3915666
investor_category_code     622424
investor_country_code     2647292
investor_state_code       2476607
investor_region           3396281
investor_city             2885083
funding_round_type        3410707
funded_at                 3542185
funded_month              3383584
funded_quarter            3383584
funded_year                422960
raised_amount_usd          422960
dtype: int64

In [4]:
memory_fp.sum() / 2**20

56.9876070022583

Link columns don't really add to our analysis.

The number of missing values for the investor_category_code column seems high enough that it would hinder our analysis.

In [5]:
analysis_cols = chunk.columns.drop(['investor_permalink','company_permalink','investor_category_code']).tolist()

In [6]:
col_types = {}
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=analysis_cols)
for chunk in chunk_iter:
    for col in chunk.columns:
        if col not in col_types:
            col_types[col] = [str(chunk.dtypes[col])]
        else:
            col_types[col].append(str(chunk.dtypes[col]))

In [7]:
unique_col_types = {}
for key, val in col_types.items():
    unique_col_types[key] = set(col_types[key])
unique_col_types

{'company_category_code': {'object'},
 'company_city': {'object'},
 'company_country_code': {'object'},
 'company_name': {'object'},
 'company_region': {'object'},
 'company_state_code': {'object'},
 'funded_at': {'object'},
 'funded_month': {'object'},
 'funded_quarter': {'object'},
 'funded_year': {'float64', 'int64'},
 'funding_round_type': {'object'},
 'investor_city': {'float64', 'object'},
 'investor_country_code': {'float64', 'object'},
 'investor_name': {'object'},
 'investor_region': {'object'},
 'investor_state_code': {'float64', 'object'},
 'raised_amount_usd': {'float64'}}

In [8]:
chunk

,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
50000,NuORDER,fashion,USA,CA,Los Angeles,West Hollywood,Mortimer Singer,NaN,NaN,unknown,NaN,series-a,2012-10-01,2012-10,2012-Q4,2012,3060000.0
50001,ChaCha,advertising,USA,IN,Indianapolis,Carmel,Morton Meyerson,NaN,NaN,unknown,NaN,series-b,2007-10-01,2007-10,2007-Q4,2007,12000000.0
50002,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2008-04-18,2008-04,2008-Q2,2008,500000.0
50003,Binfire,software,USA,FL,Bocat Raton,Bocat Raton,Moshe Ariel,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,750000.0
50004,Unified Color,software,USA,CA,SF Bay,South San Frnacisco,Mr. Andrew Oung,NaN,NaN,unknown,NaN,angel,2010-01-01,2010-01,2010-Q1,2010,NaN
50005,HItviews,advertising,USA,NY,New York,New York City,multiple parties,NaN,NaN,unknown,NaN,angel,2007-11-29,2007-11,2007-Q4,2007,485000.0
50006,LockerDome,social,USA,MO,Saint Louis,St. Louis,multiple parties,NaN,NaN,unknown,NaN,angel,2012-04-17,2012-04,2012-Q2,2012,300000.0
50007,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Munjal Shah,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012,5600000.0
50008,Hakia,search,USA,NaN,TBD,NaN,Murat Vargi,NaN,NaN,unknown,NaN,series-a,2006-11-01,2006-11,2006-Q4,2006,16000000.0
50009,bookacoach,sports,USA,IN,Indianapolis,Indianapolis,Myles Grote,NaN,NaN,unknown,NaN,angel,2012-11-01,2012-11,2012-Q4,2012,NaN
50010,LocalCircles,social,USA,CA,SF Bay,Santa Clara,Nadir Godrej,NaN,NaN,unknown,NaN,angel,2012-09-01,2012-09,2012-Q3,2012,NaN
50011,Graphdive,analytics,USA,CA,SF Bay,Menlo Park,Naguib Sawiris,NaN,NaN,unknown,NaN,angel,2012-10-04,2012-10,2012-Q4,2012,1000000.0
50012,Ribbon,ecommerce,USA,CA,SF Bay,San Francisco,Naguib Sawiris,NaN,NaN,unknown,NaN,series-a,2013-02-05,2013-02,2013-Q1,2013,1630000.0
50013,Dokkankom.com,ecommerce,USA,NY,New York,new york,Namek Zu'bi,NaN,NaN,unknown,NaN,angel,2011-10-10,2011-10,2011-Q4,2011,30000.0
50014,Lookery,web,USA,CA,SF Bay,San Francisco,Nana Shin,NaN,NaN,unknown,NaN,angel,2008-02-07,2008-02,2008-Q1,2008,900000.0
50015,TrustDegrees,web,USA,NY,Kenmore,Kenmore,Nancy Barrett,NaN,NaN,unknown,NaN,angel,2011-06-09,2011-06,2011-Q2,2011,8000.0
50016,Altavoz,games_video,USA,DC,Washington DC,Washington,Nancy Jacobsen,NaN,NaN,unknown,NaN,angel,2012-09-11,2012-09,2012-Q3,2012,150000.0
50017,EdSurge,education,USA,CA,SF Bay,Burlingame,Nancy Peretsman,NaN,NaN,unknown,NaN,angel,2012-08-29,2012-08,2012-Q3,2012,400000.0
50018,FullContact,enterprise,USA,CO,Denver,Denver,Nancy Pierce,NaN,NaN,unknown,NaN,series-b,2012-07-09,2012-07,2012-Q3,2012,7000000.0
50019,Rapt Media,enterprise,USA,CO,Denver,Boulder,Nancy Pierce,NaN,NaN,unknown,NaN,series-a,2013-01-23,2013-01,2013-Q1,2013,2288803.0
50020,Humanoid,software,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2010-12-01,2010-12,2010-Q4,2010,1100000.0
50021,Runscope,web,USA,CA,SF Bay,San Francisco,Nat Friedman,NaN,NaN,unknown,NaN,angel,2013-05-22,2013-05,2013-Q2,2013,1100000.0
50022,Adzerk,advertising,USA,NC,Raleigh-Durham,Durham,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-07-12,2011-07,2011-Q3,2011,650000.0
50023,Adaptly,advertising,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2011-04-18,2011-04,2011-Q2,2011,2000000.0
50024,Lore,education,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-06-27,2011-06,2011-Q2,2011,1000000.0
50025,Tasted Menu,hospitality,USA,MA,Boston,Boston,Nat Turner,NaN,NaN,unknown,NaN,angel,2011-05-01,2011-05,2011-Q2,2011,NaN
50026,Lua Technologies,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,series-a,2012-08-01,2012-08,2012-Q3,2012,2500000.0
50027,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Nat Turner,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013,3000000.0
50028,ChatID,mobile,USA,NY,New York,New York,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,NaN
50029,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Nat Turner,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012,900000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,Meddik,health,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012,750000.0
52841,Blue Apron,hospitality,USA,NY,New York,Brooklyn,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013,3000000.0
52842,ChatID,mobile,USA,NY,New York,New York,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,NaN
52843,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,Zach Weinberg,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012,900000.0
52844,Plaid,software,USA,CA,SF Bay,San Francisco,Zach Weinberg,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013,2800000.0
52845,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,Zach Zeitlin,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012,1300000.0
52846,Fitocracy,web,USA,NY,New York,New York,Zachary Aarons,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011,250000.0
52847,Square,mobile,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009,10000000.0
52848,MixRank,advertising,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011,1500000.0
52849,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,Zachary Bogue,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012,NaN
52850,Nuzzel,news,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012,1700000.0
52851,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,Zachary Bogue,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012,5600000.0
52852,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012,300000.0
52853,MXD3D,web,USA,CA,SF Bay,San Francisco,Zaid Ayoub,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011,300000.0
52854,Verious,mobile,USA,CA,SF Bay,San Carlos,Zain Khan,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011,800000.0
52855,Identified,analytics,USA,CA,SF Bay,San Francisco,Zao Yang,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012,21000000.0
52856,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,Zaw Thet,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012,1250000.0
52857,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,Zelda Marzec,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011,1500000.0
52858,Farmeron,analytics,USA,CA,SF Bay,Mountain View,Zeljko Mataija,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010,15000.0
52859,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,Zenyaku Kogyo,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013,8000000.0
52860,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,Ziv Navoth,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009,195000.0
52861,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,Ziver Birg,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013,NaN
52862,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zod Nazem,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013,8400000.0
52863,Payoneer,other,USA,NY,New York,New York,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005,2000000.0
52864,Outbrain,web,USA,NY,New York,New York City,Zohar Gilon,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009,12000000.0
52865,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,Zohar Gilon,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012,3800000.0
52866,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,Zohar Gilon,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013,10300000.0
52867,SiteBrains,software,USA,CA,SF Bay,San Francisco,zohar israel,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010,350000.0
52868,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,Zorba Lieberman,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013,8400000.0
52869,SmartThings,mobile,USA,DC,unknown,Minneapolis,Zorik Gordon,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012,3000000.0

### Numeric columns

- funded_year
- raised_amount_usd

In [9]:
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1', usecols=analysis_cols)
overall_vc = {}
for chunk in chunk_iter:
    str_data = chunk.select_dtypes('object')
    for col in str_data.columns:
        str_val_counts = str_data[col].value_counts()
        if col not in overall_vc:
            overall_vc[col] = [str_val_counts]
        else:
            overall_vc[col].append(str_val_counts)
print(overall_vc)
combined_vc = {}
for key in overall_vc:
    combined_vc[key] = pd.concat(overall_vc[col])
    print(key)
    print(combined_vc[key])
    print('--------')

{'investor_name': [Accel Partners                          322
Techstars                               267
500 Startups                            254
Y Combinator                            180
betaworks                                80
Advanced Technology Ventures             79
Cisco                                    67
Adams Street Partners                    63
Advantage Capital Partners               48
Allen & Company                          46
3i Group                                 46
Allegis Capital                          42
Betaspring                               41
Rock Health                              40
Entrepreneurs Roundtable Accelerator     38
Adams Capital Management                 36
Safeguard Scientifics                    36
.406 Ventures                            36
Aberdare Ventures                        34
5AM Ventures                             32
Salesforce                               30
Access Venture Partners                  28
WPP                                      28
Accelerator Ventures                     28
ABS Ventures                             25
Amgen                                    25
Revolution LLC                           25
FundersClub                              25
Amazon                                   24
Aisling Capital                          24
                                       ...
BioStratum                                1
T-Online                                  1
Innotek                                   1
HOWZAT media                              1
OPKO Health                               1
Joey Capital, LLC                         1
Listen.com                                1
Multiplier Capital                        1
Modena Group Capital MGMT                 1
Nitto Denko                               1
National Semiconductor                    1
Kyowa Hakko Kirin                         1
American Securities                       1
AutoScout24                               1
IT-Farm                                   1
Northwestern University                   1
Compass                                   1
Daher Bonds                               1
Nippon Koatsu Electric Co.                1
Startup Ventures                          1
Narbona Hill Corp.                        1
Rules-Based Medicine                      1
Heliae                                    1
Steel Pier Capital                        1
Intermountain Health Care                 1
Babcock & Jenkins                         1
VIA Technologies                          1
Development 72                            1
GBS/CIDP Foundation International         1
Verigy                                    1
Name: investor_name, Length: 1540, dtype: int64, Benchmark                                                     242
Bessemer Venture Partners                                     221
Battery Ventures                                              195
Andreessen Horowitz                                           194
Canaan Partners                                               187
Austin Ventures                                               166
Atlas Venture                                                 141
Bain Capital Ventures                                         102
August Capital                                                 99
Bay Partners                                                   95
Baseline Ventures                                              90
Alloy Ventures                                                 87
ARCH Venture Partners                                          75
Alta Partners                                                  75
BlueRun Ventures                                               70
Avalon Ventures                                                68
ATA Ventures                                                   64
Azure Capital Partners                                         52
Altos Ventures                                                 43
Balderton Capital                                              42
Ascent Venture Partners                                        37
Blumberg Capital                                               36
Anthem Venture Partners                                        35
AOL Ventures                                                   34
Ben Franklin Technology Partners of Northeast Pennsylvania     34
Bay City Capital                                               34
Braemar Energy Ventures                                        34
Band of Angels                                                 32
Alsop Louie Partners                                           32
Amicus Capital                                                 31
                                                             ...
Avrio Capital                                                   1
Atlante Ventures Mezzogiorno                                    1
Arthur Zaske & Associates                                       1
Berg Enterprises                                                1
Atherton Venture Partners                                       1
Berman Venture Capital                                          1
Canadian Imperial Bank of Commerce                              1
Apple Ventures                                                  1
CAP-idea                                                        1
BlueCap Partners                                                1
AngelCube                                                       1
Breakwater Ventures                                             1
Arkansas Risk Capital Matching Fund                             1
Alpha Investment                                                1
BroadOak Capital Partners                                       1
Capital for Enterprise                                          1
Ames Seed Capital                                               1
BeryTech Fund                                                   1
BCE Capital                                                     1
Archimede Ventures, Inc.                                        1
Austin Investment Management                                    1
Cape Family Fund                                                1
Antares Capital                                                 1
British Columbia Discovery Funding                              1
B/K Venture Capital                                             1
Asset Management Partners                                       1
Avida Group                                                     1
Bluestem Capital                                                1
Birch Venture Capital                                           1
Blade Ventures                                                  1
Name: investor_name, Length: 623, dtype: int64, Draper Fisher Jurvetson (DFJ)     360
Charles River Ventures            193
DAG Ventures                      146
DCM                               113
Crosslink Capital                 108
CrunchFund                         88
Domain Associates                  84
Columbia Capital                   75
Edison Ventures                    73
Emergence Capital Partners         71
Connecticut Innovations            70
Comcast Ventures                   61
Clearstone Venture Partners        58
CommonAngels                       56
Delphi Ventures                    56
El Dorado Ventures                 54
Carmel Ventures                    53
e.ventures                         51
Data Collective                    49
CMEA Ventures                      48
DeNovo Ventures                    47
Claremont Creek Ventures           47
DFJ Gotham Ventures                45
Commonwealth Capital Ventures      43
Draper Richards                    41
DFJ Frontier                       40
Core Capital Partners              39
Enterprise Partners                37
EPIC Ventures                      35
Cardinal Venture Capital           35
                                 ...
Creathor Venture Management         1
Emerging Technology Fund            1
EJ Funds                            1
Discovery Ventures Corporation      1
DB Masdar Clean Tech Fund           1
CGI Opportunity Fund II             1
Defiance Capital                    1
CPoWeR Ventures                     1
Entertainment Ventures              1
Cathaya Capital                     1
Chesapeake Partners Management      1
Comerica BankÃ•s Technology          1
Continental Capital                 1
Chestnut Ridge Capital              1
Digital Capital Advisors            1
City Capital                        1
Crystal Ball Ventures               1
DT Capital Partners                 1
Dayam Fund                          1
Eastlabs                            1
Centra Capital                      1
Denny Hill Capital                  1
Discovery Capital                   1
Demian Sellfors                     1
Creeris Ventures                    1
Encompass Ventures                  1
Ellis Energy Investments            1
CBC Capital                         1
CSV Capital Partners                1
Carleton Advisors                   1
Name: investor_name, Length: 653, dtype: int64, First Round Capital                  326
Greylock Partners                    251
General Catalyst Partners            210
Google Ventures                      188
Foundation Capital                   158
Founder Collective                   145
Felicis Ventures                     136
FLOODGATE                            129
Goldman Sachs                        123
Globespan Capital Partners           106
Foundry Group                        104
Greycroft Partners                   103
Founders Fund                        102
FirstMark Capital                     99
Flybridge Capital Partners            96
Flagship Ventures                     87
Granite Ventures                      77
ff Venture Capital                    60
Harrison Metal Capital                60
Grotech Ventures                      50
Frazier Healthcare Ventures           48
Harris & Harris Group                 48
Founder's Co-op                       48
Focus Ventures                        43
Great Oaks Venture Capital            41
Freestyle Capital                     41
Gemini Israel ventures                40
Fidelity Ventures                     38
GGV Capital                           35
GrandBanks Capital                    33
                                    ...
GBP Capital                            1
Financial Partners Fund                1
Fanisi Capital                         1
Garnett Ventures                       1
Globis Capital Partners                1
Euroventures Capital Advisory          1
Fifth Third Capital                    1
Garber Fund                            1
Esperante Ventures                     1
Greenstreet Partners                   1
Gainesborough Investment Partners      1
Fibrotic Ventures                      1
Global Technology Investments          1
Grape Arbor VC                         1
HamiltonTech Capital Partners          1
Global Asset Capital                   1
Epiphany Ventures                      1
Genevest Consulting Group              1
Equity Source Partners                 1
Fortis                                 1
Greywolf Capital Partners              1
H&Q Life Sciences Investors            1
Ferd Venture                           1
Global Asia Partners                   1
Granite Point Capital                  1
Florida Silicon Partners               1
GTA Capital                            1
Franklin Advisers                      1
Greenway Capital                       1
First Reserve Corporation              1
Name: investor_name, Length: 501, dtype: int64, Kleiner Perkins Caufield & Byers                393
Intel Capital                                   331
Khosla Ventures                                 203
Highland Capital Partners                       172
InterWest Partners                              151
Index Ventures                                  148
Ignition Partners                               131
Jafco Ventures                                   86
InterSouth Partners                              82
Hummer Winblad Venture Partners                  80
Institutional Venture Partners                   76
Investor Growth Capital                          67
In-Q-Tel                                         58
Insight Venture Partners                         56
LaunchCapital                                    55
IA Ventures                                      48
Lehman Brothers                                  45
Hearst Ventures                                  44
Johnson & Johnson Development Corporation        44
JK&B Capital                                     44
Kodiak Venture Partners                          44
Labrador Ventures                                42
JMI Equity                                       39
Innovation Works                                 39
HealthCare Ventures                              38
IDG Ventures                                     38
HLM Venture Partners                             38
Kapor Capital                                    37
Hercules Technology Growth Capital               37
Integral Capital Partners                        36
                                               ...
Klarman Family Foundation                         1
Kentucky Seed Capital Fund                        1
Hebrew University Retirement Fund                 1
Industrial and Financial Investments Company      1
Innovations Kapital                               1
Larkspur Capital Corporation                      1
JGD Management                                    1
Icon Capital Group                                1
Jefferson Corner Group                            1
J.P. Morgan Capital Corporation                   1
Imperial Capital                                  1
J.L. Easton Ventures                              1
Ingleside Investors                               1
Icon Venture Partners                             1
LaunchTime                                        1
Hydrazine Capital                                 1
Kinnevik                                          1
IDF CAPITAL                                       1
Hunter Capital Group                              1
ING Group                                         1
La Jolla Holding                                  1
iGlobe Treasury Management                        1
Howell Capital                                    1
Jacobs Capital Group                              1
Inception Capital                                 1
Keire                                             1
Inland TechStart Fund                             1
Keller Enterprises                                1
Lagovent Ventures Group, LLC                      1
Heartland Capital Network                         1
Name: investor_name, Length: 592, dtype: int64, New Enterprise Associates               445
Menlo Ventures                          219
Lightspeed Venture Partners             213
North Bridge Venture Partners           181
Mayfield Fund                           168
Matrix Partners                         160
Mohr Davidow Ventures                   151
Lerer Ventures                          140
Morgenthaler Ventures                   116
Madrona Venture Group                   108
New World Ventures                       67
New Leaf Venture Partners                62
Motorola Solutions Venture Capital       60
Lightbank                                60
MPM Capital                              59
Meritech Capital Partners                59
New Atlantic Ventures                    56
Mission Ventures                         55
Maveron                                  54
Metamorphic Ventures                     47
Longworth Venture Partners               43
Mobius Venture Capital                   42
Mitsui Ventures                          41
Mercury Fund                             40
Northgate Capital                        39
Lowercase Capital                        36
Nexus Venture Partners                   35
Lux Capital                              33
NextView Ventures                        33
Noro-Moseley Partners                    29
                                       ...
New Times Group                           1
NGP                                       1
Nextec                                    1
Next Chapter Holdings                     1
Northstar Equity Investors                1
Meridian Growth Capital                   1
Mashburn Justice Capital Partners         1
MainLine Special Opportunities Fund       1
LS Industrial Systems (KOSE:A010120)      1
Levine Leichtman Capital Partners         1
MHI Energy Partners                       1
Mulago Foundation                         1
Millennium Life Sciences Fund             1
Mexico Ventures                           1
Mercury Capital Partners                  1
Murex Investments                         1
Mesa Capital Partners                     1
Lyrical Partners                          1
New Mexico Angels                         1
Northpoint Financial Group                1
Millwater Investments Limited             1
Mayfly Capital, LLC                       1
Mansa Capital                             1
McNeel Capital                            1
MDB Capital Group                         1
LSP BioVentures                           1
Michigan Emerging Technology Fund         1
Mac Invest SA                             1
merrickhanna ventures                     1
Morgenthau Venture Partners               1
Name: investor_name, Length: 566, dtype: int64, Redpoint Ventures                209
Polaris Venture Partners         195
RRE Ventures                     179
Norwest Venture Partners         173
Oak Investment Partners          132
Rho Capital Partners              78
Novak Biddle Venture Partners     67
Qualcomm Ventures                 67
ONSET Ventures                    66
OrbiMed Advisors                  65
OVP Venture Partners              64
Pitango Venture Capital           61
Plug & Play Ventures              61
Rustic Canyon Partners            56
Quotidian Ventures                54
Opus Capital                      50
Rembrandt Venture Partners        49
Prism Venture Management          49
Omidyar Network                   45
Partech International             45
RockPort Capital Partners         43
Pinnacle Ventures                 43
Palomar Ventures                  42
Novartis Venture Fund             42
O'Reilly AlphaTech Ventures       41
Samsung Ventures                  40
Paladin Capital Group             38
Relay Ventures                    35
Sanderling Ventures               34
Rose Tech Ventures                33
                                ...
Prova Investments                  1
Ridgeway Capital Partners          1
Partisan Management Group          1
PPM America Capital Partners       1
Rayson Technology                  1
RWE Ventures                       1
Palmetto Partners                  1
RVC                                1
Rockies Venture Club               1
Odyssey Venture Partners           1
Red River Ventures                 1
Sandhill Group                     1
Onondaga Venture Capital Fund      1
Roser Ventures                     1
RNS Capital                        1
Provider Venture Partners          1
Nuevo Private Equities             1
Phoenix Insurance                  1
Promethean                         1
Pivotal Investments                1
Patriot Capital                    1
Rockbrook Advisors                 1
RR Group Investments               1
RockWood Equity Partners           1
ORIX Private Equity                1
SAIC Venture Capital               1
RESO investments                   1
Redline Capital Management         1
Oak Street Investments             1
QIC BioVentures                    1

There do not appear to be any text columns that can be converted straight to a numeric type. However, the funded_month and funded_quarter could be cleaned and converted to numeric given we don't need the year in each with the funded_year column provided. But this would require overhead when querying.

In [10]:
import sqlite3

conn = sqlite3.connect('crunchbase.db')
chunk_iter = pd.read_csv('crunchbase-investments.csv', chunksize=5000, encoding='ISO-8859-1')

for chunk in chunk_iter:
    chunk.to_sql('investments', conn, if_exists='append', index=False)

In [11]:
print(pd.read_sql('PRAGMA table_info(investments);', conn))

    cid                    name     type  notnull dflt_value  pk
0     0       company_permalink     TEXT        0       None   0
1     1            company_name     TEXT        0       None   0
2     2   company_category_code     TEXT        0       None   0
3     3    company_country_code     TEXT        0       None   0
4     4      company_state_code     TEXT        0       None   0
5     5          company_region     TEXT        0       None   0
6     6            company_city     TEXT        0       None   0
7     7      investor_permalink     TEXT        0       None   0
8     8           investor_name     TEXT        0       None   0
9     9  investor_category_code     TEXT        0       None   0
10   10   investor_country_code     TEXT        0       None   0
11   11     investor_state_code     TEXT        0       None   0
12   12         investor_region     TEXT        0       None   0
13   13           investor_city     TEXT        0       None   0
14   14      funding_round_type     TEXT        0       None   0
15   15               funded_at     TEXT        0       None   0
16   16            funded_month     TEXT        0       None   0
17   17          funded_quarter     TEXT        0       None   0
18   18             funded_year  INTEGER        0       None   0
19   19       raised_amount_usd     REAL        0       None   0

The column data types seem to match what we expected.

In [14]:
query = '''
SELECT COUNT(DISTINCT company_name) FROM investments;
'''
print(pd.read_sql(query, conn))

   COUNT(DISTINCT company_name)
0                         11573

Proportion of total funds by top 1/10% and bottom 1/10% of companies

In [20]:
query = '''
SELECT
    SUM(CASE WHEN company_name IN (SELECT company_name FROM investments
                                    GROUP BY company_name
                                    ORDER BY SUM(raised_amount_usd) DESC
                                    LIMIT 1157)
        THEN raised_amount_usd
        ELSE 0 END) * 100 / SUM(raised_amount_usd) top_10_percent_funds_proportion,
    SUM(CASE WHEN company_name IN (SELECT company_name FROM investments
                                    GROUP BY company_name
                                    ORDER BY SUM(raised_amount_usd) DESC
                                    LIMIT 115)
        THEN raised_amount_usd
        ELSE 0 END) * 100 / SUM(raised_amount_usd) top_1_percent_funds_proportion, 
    SUM(CASE WHEN company_name IN (SELECT company_name FROM investments
                                    GROUP BY company_name
                                    ORDER BY SUM(raised_amount_usd) ASC
                                    LIMIT 1157)
        THEN raised_amount_usd
        ELSE 0 END) * 100 / SUM(raised_amount_usd) bottom_10_percent_funds_proportion, 
    SUM(CASE WHEN company_name IN (SELECT company_name FROM investments
                                    GROUP BY company_name
                                    ORDER BY SUM(raised_amount_usd) ASC
                                    LIMIT 115)
        THEN raised_amount_usd
        ELSE 0 END) * 100 / SUM(raised_amount_usd) bottom_1_percent_funds_proportion 


FROM investments;
'''
print(pd.read_sql(query, conn))

   top_10_percent_funds_proportion  top_1_percent_funds_proportion  \
0                        67.127727                       26.217737

   bottom_10_percent_funds_proportion  bottom_1_percent_funds_proportion
0                                 0.0                                0.0

In [ ]:
Top category of company by number of investments.

In [26]:
query = '''
SELECT company_category_code, COUNT(*) num_of_investments
FROM investments
GROUP BY company_category_code
ORDER BY COUNT(*) DESC
LIMIT 1;
'''

print(pd.read_sql(query, conn))

  company_category_code  num_of_investments
0              software               14486

Top contributing investor by amount invested

In [27]:
query = '''
SELECT investor_name, SUM(raised_amount_usd) amount_invested
FROM investments
GROUP BY investor_name
ORDER BY SUM(raised_amount_usd) DESC
LIMIT 1;
'''

print(pd.read_sql(query, conn))

                      investor_name  amount_invested
0  Kleiner Perkins Caufield & Byers     2.243565e+10

Top Investments Companies for Single Start-Up by Amount Contributed

In [30]:
query = '''
SELECT investor_name, company_name, SUM(raised_amount_usd) amount_invested
FROM investments
GROUP BY investor_name, company_name
ORDER BY SUM(raised_amount_usd) DESC
LIMIT 10;
'''

print(pd.read_sql(query, conn))

              investor_name company_name  amount_invested
0                   Comcast    Clearwire     1.124000e+10
1                     Intel    Clearwire     1.124000e+10
2               Time Warner    Clearwire     1.124000e+10
3               BrightHouse    Clearwire     9.400000e+09
4                    Google    Clearwire     6.400000e+09
5    Marlin Equity Partners    sigmacare     5.200000e+09
6             Sprint Nextel    Clearwire     5.000000e+09
7      Eagle River Holdings    Clearwire     4.840000e+09
8  Digital Sky Technologies     Facebook     3.400000e+09
9             Goldman Sachs     Facebook     3.000000e+09

Most popular funding round

In [31]:
query = '''
SELECT funding_round_type
FROM investments
GROUP BY funding_round_type
ORDER BY COUNT(*) DESC
LIMIT 1;
'''

print(pd.read_sql(query, conn))

  funding_round_type
0           series-a

Least popular funding round

In [33]:
query = '''
SELECT funding_round_type
FROM investments
WHERE funding_round_type IS NOT NULL
GROUP BY funding_round_type
ORDER BY COUNT(*) ASC
LIMIT 1;
'''

print(pd.read_sql(query, conn))

  funding_round_type
0       crowdfunding